<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837949200392-ori2spt42uh9rve5qt1gm204vp8pdajk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837949200392-ori2spt42uh9rve5qt1gm204vp8pdajk</string>
	<key>API_KEY</key>
	<string>AIzaSyALs9kSHR0x1AZggciyLFmh_2rNXUsd48M</string>
	<key>GCM_SENDER_ID</key>
	<string>837949200392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.ammarafzal.eERatio</string>
	<key>PROJECT_ID</key>
	<string>ee-ratio</string>
	<key>STORAGE_BUCKET</key>
	<string>ee-ratio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837949200392:ios:c1cbf350f6812f10a119bd</string>
</dict>
</plist>